// Czcionki z Google Fonts
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin-ext';

$font-stack: 'Roboto Condensed', sans-serif;

// Font-weight
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
