// Form elements
.login-space {
	margin: 0px 5% 0px 5%;
	padding: 65px 0 50px 0;
	z-index: 1;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 6px;
}

.user-photo {
	width: 94px;
	height: 94px;
	margin: 40px auto 0 auto;
	position: relative;
	top: 47px;
	z-index: 2;
	background-image: url("../img/user_photo.jpg");
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 50%;
}

.login-number {
	font-size: 18px;
}

.login-number-tip {
	display: none;
	font-size: 18px;
}

#clear-login {
	font-size: 12px;
	cursor: pointer;
	height: 22px;
	width: 22px;
	position: relative;
	bottom: 2.5px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 8px;
}

#keyboard-activate {
	font-size: 28px;
	cursor: pointer;
	height: 39px;
	max-width: 5%;
	position: relative;
	top: 2px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}

#clear-login:hover,
#keyboard-activate:hover {
	color: $hover-color;
}

.login-number-input {
	display: none;
	max-width: 90%;
	border-radius: 3px;
	font-size: 18px;
	text-align: center;
}

.login-number-input:focus {
	outline: none;
	border: 2px solid $hover-color;
}

.password-input {
	margin: 0px 5% 6px 5%;
	input {
		display: inline-block;
		max-width: 90%;
		border-radius: 3px;
		font-size: 18px;
		text-align: center;
	}
	input:focus {
		outline: none;
		border: 2px solid $hover-color;
	}
}

@media (max-width: 768px) {
	.password-input {
		input {
			max-width: 80%;
		}
	}
	#keyboard-activate {
		margin-left: 16px;
	}
}

@media (max-width: 640px) {
	.user-photo {
		margin-top: 0px;
	}
}