// Logo container
.logo-container {
	width: 160px;
	height: 160px;
	float: right;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 6px;
}

@media (max-width: 768px) {
	.logo-container {
		width: 80px;
		height: 80px;
		img {
			height: 37px;
		}
	}
}

@media (max-width: 640px) {
	.logo-container {
		float: none;
		margin-bottom: 35px;
	}
}