// Strona logowania
body,
h1,
h2 {
	font-family: $font-stack;
	color: $font-primary-color;
	font-weight: $font-light;
	text-align: center;
}

h1 {
	font-size: 40px;
	padding-top: 30px;
	margin-bottom: 0;
}

h2 {
	font-size: 15px;
	padding-left: 5%;
	padding-right: 5%;
}

.main-container {
	height: 100vh;
	min-height: 660px;
	background-image: url("../img/background_login_page.jpg");
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.inner-container {
	padding-top: 5vh;
}

@media (max-width: 640px) {
	.end {
		float: none !important;
	}
	.main-container {
		min-height: 850px;
	}
}